<header class="col-xl-12 header">
    <div class="col-xl-12 header__container">
      <div class="container__logo">
        <img  [src]="imagenURL" class="logo__nodo" alt="Imagen" width="8%" >
        <div>
          <i class="bi bi-search searchIcon"></i>
          <input class="inputHeader" type="text" placeholder="Buscar en Nodo">
        </div>
        
      </div>
      
      <div>
        <h2><i class="bi bi-arrow-down-square logoColor" *ngIf="!promocionar.showPromocionado" (click)="showEspaciosP()"></i><i class="bi bi-arrow-up-square logoColor" *ngIf="promocionar.showPromocionado" (click)="showEspaciosP()"></i>Hola {{usuarioservice.nameOnScreen}}</h2>
      </div>
    </div>
    
  </header>
