<footer class="col-xl-11 footer">
    <div class="row">
      <div class="col-xl-9 footer__contenedotlista" >
        <ul class="footer__ul">
          <li class="ul__li"><a class="li__a" href="https://www.eafit.edu.co/nodo" target="_blank"> Nodo Eafit</a></li>
          <li class="ul__li"><a class="li__a" href="https://www.eafit.edu.co/nodo/Paginas/frontend.aspx" target="_blank"> Nodo Frontend</a></li>
          <li class="ul__li"><a class="li__a" href="https://www.eafit.edu.co/nodo/Paginas/backend.aspx" target="_blank"> Nodo Backend</a></li>
        </ul>  
      
      </div>
      <div class="col-xl-3 footer__whatsapcontenedor">
        <a href="https://www.instagram.com/nodo.eafit/?igshid=NzAzN2Q1NTE%3D" target="_blank"><i class="bi bi-instagram whatsapcontenedor__instagram" ></i></a>
        <a href="https://api.whatsapp.com/send?phone=573112099519&text=Hola,%20me%20gustar%C3%ADa%20saber%20m%C3%A1s%20sobre%20los%20cursos%20de%20Nodo%20EAFIT" target="_blank"><i class="bi bi-whatsapp whatsapcontenedor__whatsapp" id="whatsaap"></i></a>
      </div>
    </div>  
  </footer>
