<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 contenedorimagen">
            <h2>Distribución de espacios</h2>
            <div class="col-xl-12 contenedorimagen">
                <img  [src]="imagenURL" alt="Imagen" class="contenedorimagen__Image-distribution">
            </div>
            
        </div>
        <div class="col-xl-12 row" >
            <h2>Reservar</h2>
            <div class="col-xl-12 " >
                <h2 (click)="mostrarEspacio('Lunes')" class="botonesSemana">Lunes</h2>
                <div class="col-xl-12 reservasx2" *ngIf="mostrarEspacioLunes">
                    <div class="contenedoreinternosreservado" *ngIf="reservado.reservadoLunes1espacio;else sinreservar">
                        <h2>Percepción</h2>
                        <p>Reservado por: {{reservado.nameUnderSpace}}</p>
                        <p>El numero de personas permitidas para el evento es de: {{reservado.numberParticipants}} participantes</p>
                        <p>Descripción del evento: {{reservado.descriptionUnderSpace}}</p>
                        <button class="btn btn-primary" (click)="promocionar('Percepción', 'Lunes')" >Promocionar</button>
                    </div>
                    <ng-template #sinreservar>
                        <div class="contenedoreinternos">
                            <h2>Percepción</h2>
                            <p>Capacidad: 3 personas</p>
                            <p>Horario de Disponibilidad: 10:00 AM - 8:00 PM</p>
                            <form *ngIf="reservado.IniciarReservaLunes1espacio">
                                <label for="nameUnderSpace" class="contenedoreinternos__labelForm">Nombre de la persona o empresa que reserva:</label><br>
                                <input type="text"  id="nameUnderSpace" [(ngModel)]="reservado.nameUnderSpace" name="NameUnderSpace"><br>
                                
                                <label for="description" class="contenedoreinternos__labelForm">Descripción del evento:</label><br>
                                <input type="text" [(ngModel)]="reservado.descriptionUnderSpace" name="description" id="description" ><br>

                                <label class="contenedoreinternos__labelForm">Numero de participantes:</label><br>
                                <input type='number' [(ngModel)]="reservado.numberParticipants" name="rumberPaticipants"><br>

                            </form><br>
                            <button class="btn btn-primary" (click)="iniciarReserva()" *ngIf="!reservado.IniciarReservaLunes1espacio">Iniciar reserva</button>
                            <button class="btn btn-primary" (click)="primerEspacioLunes()" *ngIf="reservado.IniciarReservaLunes1espacio">Reservar</button>
                        </div>
                    </ng-template>
                    
                    <div class="contenedoreinternos">
                        <h2>Creación</h2>
                        <p>Capacidad: 3 personas</p>
                        <p>Horario de Disponibilidad: 10:00 AM - 8:00 PM</p>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
                <div class="col-xl-12 reservasx1" *ngIf="mostrarEspacioLunes">
                    <div class="contenedoreinternos">
                        <h2>Equipo 3</h2>
                        <p>Capacidad: 3 personas</p>
                        <p>Horario de Disponibilidad: 10:00 AM - 8:00 PM</p>
                        <button class="btn btn-primary">Reservar</button>

                    </div>
                </div>
                
            </div>
                
        </div>
        <div class="col-xl-12 row" >
            <div class="col-xl-12" >
                <h2 (click)="mostrarEspacio('Martes')" class="botonesSemana">Martes</h2>
                <div class="col-xl-12 reservasx2" *ngIf="mostrarEspacioMartes" >
                    <div class="contenedoreinternos">
                        <h2>Percepción</h2>
                        <p>Capacidad: 3 personas</p>
                        <p>Horario de Disponibilidad: 10:00 AM - 8:00 PM</p>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                    <div class="contenedoreinternos">
                        <h2>Creación</h2>
                        <p>Capacidad: 2 personas</p>
                        <p>Horario de Disponibilidad: 10:00 AM - 8:00 PM</p>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
                <div class="col-xl-12 reservasx1" *ngIf="mostrarEspacioMartes" >
                    <div class="contenedoreinternos">
                        <h2>Equipo 3</h2>
                        <p>Capacidad: 3 personas</p>
                        <p>Horario de Disponibilidad: 10:00 AM - 8:00 PM</p>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 row">
            <div class="col-xl-12" >
                <h2 (click)="mostrarEspacio('Miercoles')" class="botonesSemana">Miercoles</h2>
                <div class="col-xl-12 reservasx2" *ngIf="mostrarEspacioMiercoles">
                    <div class="contenedoreinternos">
                        <h2>Percepción</h2>
                        <p>Capacidad: 3 personas</p>
                        <p>Horario de Disponibilidad: 10:00 AM - 8:00 PM</p>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                    <div class="contenedoreinternos">
                        <h2>Creación</h2>
                        <p>Capacidad: 2 personas</p>
                        <p>Horario de Disponibilidad: 10:00 AM - 8:00 PM</p>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
                <div class="col-xl-12 reservasx1" *ngIf="mostrarEspacioMiercoles">
                    <div class="contenedoreinternos">
                        <h2>Equipo 3</h2>
                        <p>Capacidad: 3 personas</p>
                        <p>Horario de Disponibilidad: 10:00 AM - 8:00 PM</p>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
            </div>
             
        </div>
        <div class="col-xl-12 row">
            <div class="col-xl-12" >
                <h2 (click)="mostrarEspacio('Jueves')" class="botonesSemana">Jueves</h2>
                <div class="col-xl-12 reservasx2" *ngIf="mostrarEspacioJueves">
                    <div class="contenedoreinternos">
                        <h2>Percepción</h2>
                        <p>Capacidad: 3 personas</p>
                        <p>Horario de Disponibilidad: 10:00 AM - 8:00 PM</p>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                    <div class="contenedoreinternos">
                        <h2>Creación</h2>
                        <p>Capacidad: 3 personas</p>
                        <p>Horario de Disponibilidad: 10:00 AM - 8:00 PM</p>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
                <div class="col-xl-12 reservasx1" *ngIf="mostrarEspacioJueves">
                    <div class="contenedoreinternos">
                        <h2>Equipo 3</h2>
                        <p>Capacidad: 3 personas</p>
                        <p>Horario de Disponibilidad: 10:00 AM - 8:00 PM</p>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                <div>
            </div> 
        </div>
        <div class="col-xl-12 row" >
            <div class="col-xl-12" >
                <h2 (click)="mostrarEspacio('Viernes')" class="botonesSemana">Viernes</h2>
                <div class="col-xl-12 reservasx2" *ngIf="mostrarEspacioViernes">
                    <div class="contenedoreinternos">
                        <h2>Percepción</h2>
                        <p>Capacidad: 3 personas</p>
                        <p>Horario de Disponibilidad: 10:00 AM - 8:00 PM</p>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                    <div class="contenedoreinternos">
                        <h2>Creación</h2>
                        <p>Capacidad: 3 personas</p>
                        <p>Horario de Disponibilidad: 10:00 AM - 8:00 PM</p>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
                <div class="col-xl-12 reservasx1" *ngIf="mostrarEspacioViernes">
                    <div class="contenedoreinternos">
                        <h2>Equipo 3</h2>
                        <p>Capacidad: 3 personas</p>
                        <p>Horario de Disponibilidad: 10:00 AM - 8:00 PM</p>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
            </div> 
        </div>


      </div>
</div>
