.reservasx2{
    border-top: 2px solid #000814;
    border-bottom: 2px solid #000814;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.reservasx1{
    border-top: 2px solid #000814;
    border-bottom: 2px solid #000814;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.contenedoreinternos{
    background-color:darkslateblue;
    border-radius: 0.5rem;
    gap: 1rem;
}

.contenedoreinternos__labelForm{
    color: antiquewhite;
}
.contenedoreinternosreservado{
    background-color:#bc4749;
    border-radius: 0.5rem;
    

}

.contenedorimagen__interactiva{
    background-image: url('src/assets/images/espacio1.png');
     /* Opciones de ajuste del tamaño de la imagen de fondo */
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5rem;
    
    
   
}
.percepcion{
    min-height: 22rem;
}
.creacion{
    min-height: 22rem;
}
.conexion{
    min-height: 22rem;
}
.percepcion:hover{
    cursor: pointer;
}
.creacion:hover{
    cursor: pointer;
}
.conexion{
    cursor: pointer;
}



@media (max-width:600px) {
    .percepcion{
        min-height: 5rem;
    }
    .creacion{
        min-height: 5rem;
    }
    .conexion{
        min-height: 5rem;
    }
    
}

.contenedorimagen__Image-distribution{
    /*max-height: 70rem;
    max-width: 100%;*/
    width: 70%;
    height: 40%;
    padding-bottom: 2rem;
    border-radius: 4rem;

}
.divbotonessemana {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.divbotonessemana__botonesSemana{
    padding: 0;
    background-color: bisque;
    color: #000814;
    border-radius: 2rem;
    max-width: 100%;
    
}

.divbotonessemana__botonesSemana:hover{
    background-color:#000814;
    color: beige;
    cursor: pointer;
}
.divbotonessemana__botonesSemana:active{
    background-color:#000814;
    color: beige;
}

.active{
    background-color:#000814;
    color:beige;
    cursor: pointer;
    border-radius: 2rem;
}

.iniciarR{
    margin-bottom: 0.5rem;
    margin-left: 0.5rem ;
}

.Reservar{
    margin-bottom: 0.5rem;
    margin-right: 0.5rem ;
    
}