<div class="container">
    <div class="col-xl-5">
        <h2>
            PQRS
        </h2>

    </div>

    <div class="email container">
        <form class="email__form  col-xl-12" >
            <div class="col-xl-12 form__elements">
                <label class="elements__emailLabel">Asunto:</label>
                <select name="subject" id="" [(ngModel)]="asuntoEmail" class="elements__select">
                    <option value="Petición">Petición</option>
                    <option value="Queja">Queja</option>
                    <option value="Reclamo">Reclamo</option>
                    <option value="Sugerencia">Sugerencia</option>
                </select>
            </div><br>
               
            <!--<div class="col-xl-12 form__elements">
                <label class="elements__emailLabel">Asunto:</label>
                <input type="text" class='elements__input' value="{{asuntoEmail}}" [(ngModel)]="asuntoEmail" name="asunto">
            </div><br>-->

            <div class="col-xl-12 form__elements">
                <label class="elements__emailLabel">Cuerpo:</label>
                <textarea rows="5" cols="50" class='elements__input size' placeholder="Por favor introduzca su {{asuntoEmail}}" [(ngModel)]="cuerpoEmail" name="cuerpo"></textarea>
            </div><br>   
            <div class="form__alamcenamientoboton">
                <button class="btn btn-primary form__button" type="submit" (click)="sendEmail()">Enviar</button>
            </div>
                     
        </form>
       
    </div>
    
</div>

