<div class="container">
    <div class="col-xl-5">
        <h2>
            PQRS
        </h2>

    </div>
    <div class="elementsC col-xl-6">
        <form>
            
            <label class="form__label">Petición</label>
            <input class="form__radio" type="radio" name="subject" (click)="activarBoton('Peticion')">
            

            
            <label class="form__label">Queja</label>
            <input class="form__radio" type="radio" name="subject" (click)="activarBoton('Queja')">
            

            
            <label class="form__label">Reclamo</label>
            <input class="form__radio" type="radio" name="subject" (click)="activarBoton('Reclamo')">
            

            
            <label class="form__label">Sugerencia</label>
            <input class="form__radio" type="radio" name="subject" (click)="activarBoton('Sugerencia')">
            
        </form>
    </div>

    <div class="email container">
        <form class="email__form  col-xl-12" >
            <div class="col-xl-12 form__elements">
                <label class="elements__emailLabel">Asunto:</label>
                <input type="text" class='elements__input' value="{{asuntoEmail}}" [(ngModel)]="asuntoEmail" name="asunto">
            </div><br>

            <div class="col-xl-12 form__elements">
                <label class="elements__emailLabel">Cuerpo:</label>
                <textarea rows="5" cols="50" class='elements__input size' placeholder="Por favor introduzca su {{asuntoEmail}}" [(ngModel)]="cuerpoEmail" name="cuerpo"></textarea>
            </div><br>   
            <div class="form__alamcenamientoboton">
                <button class="btn btn-primary form__button" type="submit" (click)="sendEmail()">Enviar</button>
            </div>
                     
        </form>
       
    </div>
    
</div><br>

