.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contenedor__login{
    
    padding: 8rem;
    background-color: burlywood;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    
}

@media (max-width:800px) {

    .contenedor__login{
        padding: 1rem;
    }
}