.contenedor{
    display: flex;
    justify-content: flex-start;


    
}
.contenedor__content{
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: auto;
    border-radius: 3rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.divIconShowM{
    display: flex;
    justify-content: flex-end;
}

.divIconShowM__icon{
    color: aliceblue;
    font-size: 2rem;
    cursor: pointer;
}
.contenedor__login{
    position: absolute;
    top: 10%;
    right: 3%;   
}

.login-form{
    padding: 3rem;
    background-color:burlywood;
    border-radius: 1.5rem;
}
@media (max-width:800px) {

    .contenedor__login{
        padding: 1rem;
    }
}
.div-datos-personales{
    color: black;
}

.div-datos-personales__politica{
    color:darkblue;
    text-decoration: none;
}

.crearButton{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.linkOlvidasteLaP{
    text-decoration: none;

}

.cancelButton{
    padding: 0.2rem 0.9rem;

}