/*estilos de la barra lateral incluyendo el boton y el menu lateral */
.firstdiv__menu{
    margin-bottom: 0.3rem;
}

    

.firstdiv__boton--menuopen{
    background-color: #FFD60A;
    color: #000814;
    width: 40%;
}
.firstdiv__boton--menuclose{
    display: none;
}

/*.firstdiv__barnav{
    border: 2px solid yellowgreen;

}*/

.barnav__ul{

    margin:0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    /*border: 1px solid yellowgreen;*/
}

.ul__li{
    margin-left: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /*border: 1px solid yellowgreen;*/
    width: 100%;
    flex-wrap: wrap;
}

.li__a--menuopen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem;
    background-color: #FFD60A;
    text-decoration: none;
    width: 100%;
    /*border: 2px solid yellowgreen;*/
    margin-bottom: 0.5rem;
    border-radius: 10px 0 10px 0;
    color: #000814;
}
.li__a--menuclose{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5rem;
    background-color: #FFD60A;
    text-decoration: none;
    width: 100%;
    /*border: 2px solid yellowgreen;*/
    margin-bottom: 0.5rem;
    border-radius: 10px 0 10px 0;
    color: #000814;
}
.li__a--menuopen:hover{
    color: yellowgreen;
    background-color: #000814;
    border: 2px solid yellowgreen;
}


.li__a--menuclose:hover{
    color: yellowgreen;
    background-color: #000814;
    border: 2px solid yellowgreen;
}
.i__span{
    display: none;
}
.active{
    color: yellowgreen;
    background-color: #000814;
    border: 2px solid yellowgreen;
}

@media (max-width: 1199px) {
    .firstdiv__boton--menuopen{
        display: none;
    }
    .barnav__ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        gap: 1rem;
        flex-wrap: wrap;
    }
    .ul__li{
        width: 12%;
        height: 100%;
    }
    .li__a{
        margin-right: 0.5rem ;
        height: 100%;
    }
}
@media (max-width:700px) {
    .i__span{
        display: none;
    }

}

