<div class="row">
  <section class="col-xl-9 sectiones" >
    <div class="row">
      <div class="col-xl-6">
        <iframe class="iframe" width="100%" height="100%" src="https://www.youtube.com/embed/i5W9YztOjoA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="col-xl-6">
        <h1>NODO</h1>
        <h2> El universo de la programación</h2>
        <p>Generamos estrategias para la exploración y la definición de vocaciones de las personas y acompañamos el diseño de soluciones en tecnología para las organizaciones. Propiciamos el encuentro entre personas y conocimientos relacionados con adaptación tecnológica digital, industria 4.0 y tecnologías emergentes. Potenciamos el talento de las organizaciones.</p>
      </div>
      <div class="col-xl-12 contenedorimagen">
        <img  [src]="imagenURL" alt="Imagen" width="100%" height="100%">
      </div>
      <div class="col-xl-6">
        <p>Nodo es uno de los hitos de transformación de EAFIT, que se suma a la reciente presentación de Imaginar Futuros, centro que piensa y crea el futuro de la educación. Somos el centro de formación para la resolución de problemas reales por medio de la tecnología, fundamentado en la conexión entre organizaciones y nuevos líderes.

          Transformamos el talento y lo ponemos al servicio de los retos reales de las organizaciones creando procesos de aprendizaje práctico y exponencial.</p>
        
      </div>
      <div class="col-xl-6">
        <ul class="sections__ul">
          <li class="ul__li"><p>Carrera 49 N° 7 Sur-50</p></li>
          <li class="ul__li"><p>Línea nacional: 01 8000 515 900</p></li>
          <li class="ul__li"><p>Línea de atención (57) 604 2619500</p></li>
          <li class="ul__li"><a class="li__a" href="https://www.eafit.edu.co/centrodevisitantes">Atención a visitantes</a></li>
        </ul>
      </div>
    </div>
  </section>
  <div class="col-xl-3" style="overflow: hidden; border: 1px solid yellow;">
    <div class="container-fluid">
      <div class="row">
          <div>
              <h2>
                  Espacios promocionados
              </h2>
          </div>
          <div class="contenedoreinternosreservado col-xl-12" *ngFor="let reservado of promocionar.reservado">
              <h2>Espacio {{reservado.space}}</h2>
              <p>Reservado el dia {{reservado.day}}</p>
              <p>Reservado por {{reservado.nameUnder}}</p>
              <p>Descripción del evento: {{reservado.description}}</p>
              <p>Numero de participantes: {{reservado.numberOfParticipants}}</p>
          </div><br>
      </div>
  </div>        
  </div>
</div>
