.sections{
    background: linear-gradient(to right, #000814, #191970);
}

.contenedorimagen{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.iframe{
    border-radius: 0.5rem;
}
.logo{
    color: azure;
    font-size: 2rem;
}
.sections__ul{

    margin-left: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}
@media (max-width:700px) {
    .sections__ul{
        padding-top: 1rem;
    }
    
}
.ul__li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
    color: #000814;
}
.li__a{
    text-decoration: none;
    color:antiquewhite;
}
.li__a:hover{
    color: yellowgreen;
}    

.contenedoreinternosreservado{
    background-color:#bc4749;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}
.contenedorEspacio{
    height: 100%;
    overflow-y: scroll;
    scrollbar-width:thin;
    position: absolute;
    top: 9%;
    right: 0%;
    max-width: 25rem;
    z-index: 1;
    background-color: #191970;
    border-radius: 0.5rem;
    border: 0.1rem solid #bc4749;
}

.contenedorNodoRight{
    border-radius: 0.5rem ;
    background: linear-gradient(to right, #bc4749, #191970);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding-right: 0;
}
.contenedorNodoLeft{
    border-radius: 0.5rem ;
    background: linear-gradient(to left, #bc4749, #191970);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 1rem 2rem;
}

.contenedorNodoLeft__text{
    text-align:justify;
}
.button{
    margin-bottom: 1rem;
}

.contenedorEspacio__title{
    margin-top: 1rem;
}