<div class="container-fluid">
    <div class="row">
        <div>
            <h2>
                Espacios promocionados
            </h2>
        </div>
        <div class="containerdiv">
            <div class="contenedoreinternosreservado col-xl-2" *ngFor="let reservado of promocionar.reservado">
                <h2>Espacio {{reservado.space}}</h2>
                <p>Reservado el dia {{reservado.day}}</p>
                <p>Reservado por {{reservado.nameUnder}}</p>
                <p>Descripción del evento: {{reservado.description}}</p>
                <p>Numero de participantes: {{reservado.numberOfParticipants}}</p>
                <button class="btn btn-primary button">Cancelar</button>
            </div>
        </div>
    </div>
</div>        
